*{
    margin: 0;
    padding: 0;
}

.body{
    width: 1440px;
    height: 553px;
    top: 2737px;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.colunm-left{
    width: 80%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.elipse{
   position: relative;
}

.tenis{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.colunm-right{
   width: 80%;
   height: 80vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}





    
